<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.AuthorityMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.Authority">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="buttons" column="buttons" jdbcType="VARCHAR"/>
            <result property="checked" column="checked" jdbcType="INTEGER"/>
            <result property="expanded" column="expanded" jdbcType="INTEGER"/>
            <result property="iconCls" column="icon_cls" jdbcType="VARCHAR"/>
            <result property="leaf" column="leaf" jdbcType="INTEGER"/>
            <result property="menuCode" column="menu_code" jdbcType="VARCHAR"/>
            <result property="menuConfig" column="menu_config" jdbcType="VARCHAR"/>
            <result property="menuName" column="menu_name" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="sortOrder" column="sort_order" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="descinfo" column="descInfo" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,buttons,checked,
        expanded,icon_cls,leaf,
        menu_code,menu_config,menu_name,
        parent_id,sort_order,url,
        descInfo
    </sql>
</mapper>
