<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseDetailMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.HouseDetail">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="houseid" column="houseId" jdbcType="BIGINT"/>
            <result property="orientation" column="orientation" jdbcType="VARCHAR"/>
            <result property="housetype" column="houseType" jdbcType="VARCHAR"/>
            <result property="renovation" column="renovation" jdbcType="VARCHAR"/>
            <result property="housefacilities" column="houseFacilities" jdbcType="VARCHAR"/>
            <result property="paymentmethod" column="paymentMethod" jdbcType="VARCHAR"/>
            <result property="leaseterm" column="leaseTerm" jdbcType="VARCHAR"/>
            <result property="chargewater" column="chargeWater" jdbcType="DECIMAL"/>
            <result property="electricityfees" column="electricityFees" jdbcType="DECIMAL"/>
            <result property="houseintroduction" column="houseIntroduction" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,houseId,orientation,
        houseType,renovation,houseFacilities,
        paymentMethod,leaseTerm,chargeWater,
        electricityFees,houseIntroduction
    </sql>
</mapper>
