<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseownerHouseMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.HouseownerHouse">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="houseid" column="houseId" jdbcType="BIGINT"/>
            <result property="houseownerid" column="houseOwnerId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,houseId,houseOwnerId
    </sql>
</mapper>
