<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.House">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="housetypeid" column="houseTypeId" jdbcType="BIGINT"/>
            <result property="housetypename" column="houseTypeName" jdbcType="VARCHAR"/>
            <result property="houseaddress" column="houseAddress" jdbcType="VARCHAR"/>
            <result property="housecity" column="houseCity" jdbcType="VARCHAR"/>
            <result property="housefloor" column="houseFloor" jdbcType="VARCHAR"/>
            <result property="buildingnumber" column="buildingNumber" jdbcType="VARCHAR"/>
            <result property="expectedrent" column="expectedRent" jdbcType="DECIMAL"/>
            <result property="housearea" column="houseArea" jdbcType="VARCHAR"/>
            <result property="housetype" column="houseType" jdbcType="VARCHAR"/>
            <result property="houseunit" column="houseUnit" jdbcType="VARCHAR"/>
            <result property="housenumber" column="houseNumber" jdbcType="VARCHAR"/>
            <result property="housename" column="houseName" jdbcType="VARCHAR"/>
            <result property="housedesc" column="houseDesc" jdbcType="VARCHAR"/>
            <result property="housemaplocation" column="houseMapLocation" jdbcType="VARCHAR"/>
            <result property="housetwodimensionalcode" column="houseTwoDimensionalCode" jdbcType="VARCHAR"/>
            <result property="houseimage" column="houseImage" jdbcType="VARCHAR"/>
            <result property="houseownerid" column="houseOwnerId" jdbcType="BIGINT"/>
            <result property="houseownername" column="houseOwnerName" jdbcType="VARCHAR"/>
            <result property="registdate" column="registDate" jdbcType="DATE"/>
            <result property="departmentid" column="departmentId" jdbcType="BIGINT"/>
            <result property="departmentname" column="departmentName" jdbcType="VARCHAR"/>
            <result property="checkopion" column="checkOpion" jdbcType="VARCHAR"/>
            <result property="checkerid" column="checkerId" jdbcType="BIGINT"/>
            <result property="checkername" column="checkerName" jdbcType="VARCHAR"/>
            <result property="checkdate" column="checkDate" jdbcType="DATE"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,houseTypeId,houseTypeName,
        houseAddress,houseCity,houseFloor,
        buildingNumber,expectedRent,houseArea,
        houseType,houseUnit,houseNumber,
        houseName,houseDesc,houseMapLocation,
        houseTwoDimensionalCode,houseImage,houseOwnerId,
        houseOwnerName,registDate,departmentId,
        departmentName,checkOpion,checkerId,
        checkerName,checkDate,status
    </sql>
</mapper>
