<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseownerMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.Houseowner">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="houseownercode" column="houseOwnerCode" jdbcType="VARCHAR"/>
            <result property="houseownerpassword" column="houseOwnerPassWord" jdbcType="VARCHAR"/>
            <result property="houseownername" column="houseOwnerName" jdbcType="VARCHAR"/>
            <result property="houseowneridentify" column="houseOwnerIdentify" jdbcType="VARCHAR"/>
            <result property="houseownertel" column="houseOwnerTel" jdbcType="VARCHAR"/>
            <result property="houseownerdesc" column="houseOwnerDesc" jdbcType="VARCHAR"/>
            <result property="houseowneraddress" column="houseOwnerAddress" jdbcType="VARCHAR"/>
            <result property="houseownerrole" column="houseOwnerRole" jdbcType="BIGINT"/>
            <result property="houseownerlastlogintime" column="houseOwnerLastLoginTime" jdbcType="DATE"/>
            <result property="registdate" column="registDate" jdbcType="DATE"/>
            <result property="checkopion" column="checkOpion" jdbcType="VARCHAR"/>
            <result property="checkerid" column="checkerId" jdbcType="BIGINT"/>
            <result property="checkername" column="checkerName" jdbcType="VARCHAR"/>
            <result property="checkdate" column="checkDate" jdbcType="DATE"/>
            <result property="houseownerimage" column="houseOwnerImage" jdbcType="VARCHAR"/>
            <result property="houseownertwodimensionalcode" column="houseOwnerTwoDimensionalCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,houseOwnerCode,houseOwnerPassWord,
        houseOwnerName,houseOwnerIdentify,houseOwnerTel,
        houseOwnerDesc,houseOwnerAddress,houseOwnerRole,
        houseOwnerLastLoginTime,registDate,checkOpion,
        checkerId,checkerName,checkDate,
        houseOwnerImage,houseOwnerTwoDimensionalCode
    </sql>
</mapper>
