<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseDetailMapper">
  <resultMap id="BaseResultMap" type="com.yunzhu.house.model.HouseDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="houseId" jdbcType="BIGINT" property="houseid" />
    <result column="orientation" jdbcType="VARCHAR" property="orientation" />
    <result column="houseType" jdbcType="VARCHAR" property="housetype" />
    <result column="renovation" jdbcType="VARCHAR" property="renovation" />
    <result column="houseFacilities" jdbcType="VARCHAR" property="housefacilities" />
    <result column="paymentMethod" jdbcType="VARCHAR" property="paymentmethod" />
    <result column="leaseTerm" jdbcType="VARCHAR" property="leaseterm" />
    <result column="chargeWater" jdbcType="DECIMAL" property="chargewater" />
    <result column="electricityFees" jdbcType="DECIMAL" property="electricityfees" />
    <result column="houseIntroduction" jdbcType="VARCHAR" property="houseintroduction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, houseId, orientation, houseType, renovation, houseFacilities, paymentMethod, 
    leaseTerm, chargeWater, electricityFees, houseIntroduction
  </sql>
  <select id="selectByExample" parameterType="com.yunzhu.house.model.HouseDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from house_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from house_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from house_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunzhu.house.model.HouseDetailExample">
    delete from house_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunzhu.house.model.HouseDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house_detail (houseId, orientation, houseType, 
      renovation, houseFacilities, paymentMethod, 
      leaseTerm, chargeWater, electricityFees, 
      houseIntroduction)
    values (#{houseid,jdbcType=BIGINT}, #{orientation,jdbcType=VARCHAR}, #{housetype,jdbcType=VARCHAR}, 
      #{renovation,jdbcType=VARCHAR}, #{housefacilities,jdbcType=VARCHAR}, #{paymentmethod,jdbcType=VARCHAR}, 
      #{leaseterm,jdbcType=VARCHAR}, #{chargewater,jdbcType=DECIMAL}, #{electricityfees,jdbcType=DECIMAL}, 
      #{houseintroduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunzhu.house.model.HouseDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseid != null">
        houseId,
      </if>
      <if test="orientation != null">
        orientation,
      </if>
      <if test="housetype != null">
        houseType,
      </if>
      <if test="renovation != null">
        renovation,
      </if>
      <if test="housefacilities != null">
        houseFacilities,
      </if>
      <if test="paymentmethod != null">
        paymentMethod,
      </if>
      <if test="leaseterm != null">
        leaseTerm,
      </if>
      <if test="chargewater != null">
        chargeWater,
      </if>
      <if test="electricityfees != null">
        electricityFees,
      </if>
      <if test="houseintroduction != null">
        houseIntroduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseid != null">
        #{houseid,jdbcType=BIGINT},
      </if>
      <if test="orientation != null">
        #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="housetype != null">
        #{housetype,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null">
        #{renovation,jdbcType=VARCHAR},
      </if>
      <if test="housefacilities != null">
        #{housefacilities,jdbcType=VARCHAR},
      </if>
      <if test="paymentmethod != null">
        #{paymentmethod,jdbcType=VARCHAR},
      </if>
      <if test="leaseterm != null">
        #{leaseterm,jdbcType=VARCHAR},
      </if>
      <if test="chargewater != null">
        #{chargewater,jdbcType=DECIMAL},
      </if>
      <if test="electricityfees != null">
        #{electricityfees,jdbcType=DECIMAL},
      </if>
      <if test="houseintroduction != null">
        #{houseintroduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunzhu.house.model.HouseDetailExample" resultType="java.lang.Long">
    select count(*) from house_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update house_detail
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.houseid != null">
        houseId = #{row.houseid,jdbcType=BIGINT},
      </if>
      <if test="row.orientation != null">
        orientation = #{row.orientation,jdbcType=VARCHAR},
      </if>
      <if test="row.housetype != null">
        houseType = #{row.housetype,jdbcType=VARCHAR},
      </if>
      <if test="row.renovation != null">
        renovation = #{row.renovation,jdbcType=VARCHAR},
      </if>
      <if test="row.housefacilities != null">
        houseFacilities = #{row.housefacilities,jdbcType=VARCHAR},
      </if>
      <if test="row.paymentmethod != null">
        paymentMethod = #{row.paymentmethod,jdbcType=VARCHAR},
      </if>
      <if test="row.leaseterm != null">
        leaseTerm = #{row.leaseterm,jdbcType=VARCHAR},
      </if>
      <if test="row.chargewater != null">
        chargeWater = #{row.chargewater,jdbcType=DECIMAL},
      </if>
      <if test="row.electricityfees != null">
        electricityFees = #{row.electricityfees,jdbcType=DECIMAL},
      </if>
      <if test="row.houseintroduction != null">
        houseIntroduction = #{row.houseintroduction,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update house_detail
    set id = #{row.id,jdbcType=BIGINT},
      houseId = #{row.houseid,jdbcType=BIGINT},
      orientation = #{row.orientation,jdbcType=VARCHAR},
      houseType = #{row.housetype,jdbcType=VARCHAR},
      renovation = #{row.renovation,jdbcType=VARCHAR},
      houseFacilities = #{row.housefacilities,jdbcType=VARCHAR},
      paymentMethod = #{row.paymentmethod,jdbcType=VARCHAR},
      leaseTerm = #{row.leaseterm,jdbcType=VARCHAR},
      chargeWater = #{row.chargewater,jdbcType=DECIMAL},
      electricityFees = #{row.electricityfees,jdbcType=DECIMAL},
      houseIntroduction = #{row.houseintroduction,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunzhu.house.model.HouseDetail">
    update house_detail
    <set>
      <if test="houseid != null">
        houseId = #{houseid,jdbcType=BIGINT},
      </if>
      <if test="orientation != null">
        orientation = #{orientation,jdbcType=VARCHAR},
      </if>
      <if test="housetype != null">
        houseType = #{housetype,jdbcType=VARCHAR},
      </if>
      <if test="renovation != null">
        renovation = #{renovation,jdbcType=VARCHAR},
      </if>
      <if test="housefacilities != null">
        houseFacilities = #{housefacilities,jdbcType=VARCHAR},
      </if>
      <if test="paymentmethod != null">
        paymentMethod = #{paymentmethod,jdbcType=VARCHAR},
      </if>
      <if test="leaseterm != null">
        leaseTerm = #{leaseterm,jdbcType=VARCHAR},
      </if>
      <if test="chargewater != null">
        chargeWater = #{chargewater,jdbcType=DECIMAL},
      </if>
      <if test="electricityfees != null">
        electricityFees = #{electricityfees,jdbcType=DECIMAL},
      </if>
      <if test="houseintroduction != null">
        houseIntroduction = #{houseintroduction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunzhu.house.model.HouseDetail">
    update house_detail
    set houseId = #{houseid,jdbcType=BIGINT},
      orientation = #{orientation,jdbcType=VARCHAR},
      houseType = #{housetype,jdbcType=VARCHAR},
      renovation = #{renovation,jdbcType=VARCHAR},
      houseFacilities = #{housefacilities,jdbcType=VARCHAR},
      paymentMethod = #{paymentmethod,jdbcType=VARCHAR},
      leaseTerm = #{leaseterm,jdbcType=VARCHAR},
      chargeWater = #{chargewater,jdbcType=DECIMAL},
      electricityFees = #{electricityfees,jdbcType=DECIMAL},
      houseIntroduction = #{houseintroduction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>