<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseFileMapper">
  <resultMap id="BaseResultMap" type="com.yunzhu.house.model.HouseFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="houseId" jdbcType="BIGINT" property="houseid" />
    <result column="pictureType" jdbcType="VARCHAR" property="picturetype" />
    <result column="fileName" jdbcType="VARCHAR" property="filename" />
    <result column="fileUrl" jdbcType="VARCHAR" property="fileurl" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, houseId, pictureType, fileName, fileUrl
  </sql>
  <select id="selectByExample" parameterType="com.yunzhu.house.model.HouseFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from house_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from house_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from house_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunzhu.house.model.HouseFileExample">
    delete from house_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunzhu.house.model.HouseFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house_file (houseId, pictureType, fileName, 
      fileUrl)
    values (#{houseid,jdbcType=BIGINT}, #{picturetype,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{fileurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yunzhu.house.model.HouseFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into house_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="houseid != null">
        houseId,
      </if>
      <if test="picturetype != null">
        pictureType,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="fileurl != null">
        fileUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="houseid != null">
        #{houseid,jdbcType=BIGINT},
      </if>
      <if test="picturetype != null">
        #{picturetype,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null">
        #{fileurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunzhu.house.model.HouseFileExample" resultType="java.lang.Long">
    select count(*) from house_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update house_file
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.houseid != null">
        houseId = #{row.houseid,jdbcType=BIGINT},
      </if>
      <if test="row.picturetype != null">
        pictureType = #{row.picturetype,jdbcType=VARCHAR},
      </if>
      <if test="row.filename != null">
        fileName = #{row.filename,jdbcType=VARCHAR},
      </if>
      <if test="row.fileurl != null">
        fileUrl = #{row.fileurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update house_file
    set id = #{row.id,jdbcType=BIGINT},
      houseId = #{row.houseid,jdbcType=BIGINT},
      pictureType = #{row.picturetype,jdbcType=VARCHAR},
      fileName = #{row.filename,jdbcType=VARCHAR},
      fileUrl = #{row.fileurl,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunzhu.house.model.HouseFile">
    update house_file
    <set>
      <if test="houseid != null">
        houseId = #{houseid,jdbcType=BIGINT},
      </if>
      <if test="picturetype != null">
        pictureType = #{picturetype,jdbcType=VARCHAR},
      </if>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="fileurl != null">
        fileUrl = #{fileurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunzhu.house.model.HouseFile">
    update house_file
    set houseId = #{houseid,jdbcType=BIGINT},
      pictureType = #{picturetype,jdbcType=VARCHAR},
      fileName = #{filename,jdbcType=VARCHAR},
      fileUrl = #{fileurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>