<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseOrderMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.HouseOrder">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="houseid" column="houseId" jdbcType="BIGINT"/>
            <result property="houseName" column="house_name" jdbcType="VARCHAR"/>
            <result property="tenantid" column="tenantId" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="orderstart" column="orderStart" jdbcType="TIMESTAMP"/>
            <result property="orderend" column="orderEnd" jdbcType="TIMESTAMP"/>
            <result property="paystart" column="payStart" jdbcType="TIMESTAMP"/>
            <result property="payend" column="payEnd" jdbcType="TIMESTAMP"/>
            <result property="renttotal" column="rentTotal" jdbcType="DECIMAL"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="memberUsername" column="member_username" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="payType" column="pay_type" jdbcType="INTEGER"/>
            <result property="sourceType" column="source_type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="orderType" column="order_type" jdbcType="INTEGER"/>
            <result property="deleteStatus" column="delete_status" jdbcType="INTEGER"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,houseId,house_name,tenantId,
        order_no,title,orderStart,
        orderEnd,payStart,payEnd,
        rentTotal,create_time,member_username,
        amount,pay_type,source_type,
        status,order_type,delete_status,
        payment_time,modify_time
    </sql>
</mapper>
