<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.HouseFileMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.HouseFile">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="houseid" column="houseId" jdbcType="BIGINT"/>
            <result property="picturetype" column="pictureType" jdbcType="VARCHAR"/>
            <result property="filename" column="fileName" jdbcType="VARCHAR"/>
            <result property="fileurl" column="fileUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,houseId,pictureType,
        fileName,fileUrl
    </sql>
</mapper>
