<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.MonitorLogMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.MonitorLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="logType" column="log_type" jdbcType="SMALLINT"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="objectId" column="object_id" jdbcType="INTEGER"/>
            <result property="value" column="value" jdbcType="DOUBLE"/>
            <result property="disarm" column="disarm" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,log_type,message,
        object_id,value,disarm
    </sql>
</mapper>
