<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.RoomTenantMapper">
  <resultMap id="BaseResultMap" type="com.yunzhu.house.model.RoomTenant">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="roomId" jdbcType="BIGINT" property="roomid" />
    <result column="roomName" jdbcType="VARCHAR" property="roomname" />
    <result column="tenantId" jdbcType="BIGINT" property="tenantid" />
    <result column="tenantName" jdbcType="VARCHAR" property="tenantname" />
    <result column="descInfo" jdbcType="VARCHAR" property="descinfo" />
    <result column="startDate" jdbcType="DATE" property="startdate" />
    <result column="endDate" jdbcType="DATE" property="enddate" />
    <result column="checkOpion" jdbcType="VARCHAR" property="checkopion" />
    <result column="checkerId" jdbcType="BIGINT" property="checkerid" />
    <result column="checkerName" jdbcType="VARCHAR" property="checkername" />
    <result column="checkDate" jdbcType="DATE" property="checkdate" />
    <result column="isHistory" jdbcType="VARCHAR" property="ishistory" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, roomId, roomName, tenantId, tenantName, descInfo, startDate, endDate, checkOpion, 
    checkerId, checkerName, checkDate, isHistory
  </sql>
  <select id="selectByExample" parameterType="com.yunzhu.house.model.RoomTenantExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from room_tenant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from room_tenant
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from room_tenant
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yunzhu.house.model.RoomTenantExample">
    delete from room_tenant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yunzhu.house.model.RoomTenant">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into room_tenant (roomId, roomName, tenantId, 
      tenantName, descInfo, startDate, 
      endDate, checkOpion, checkerId, 
      checkerName, checkDate, isHistory
      )
    values (#{roomid,jdbcType=BIGINT}, #{roomname,jdbcType=VARCHAR}, #{tenantid,jdbcType=BIGINT}, 
      #{tenantname,jdbcType=VARCHAR}, #{descinfo,jdbcType=VARCHAR}, #{startdate,jdbcType=DATE}, 
      #{enddate,jdbcType=DATE}, #{checkopion,jdbcType=VARCHAR}, #{checkerid,jdbcType=BIGINT}, 
      #{checkername,jdbcType=VARCHAR}, #{checkdate,jdbcType=DATE}, #{ishistory,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yunzhu.house.model.RoomTenant">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into room_tenant
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="roomid != null">
        roomId,
      </if>
      <if test="roomname != null">
        roomName,
      </if>
      <if test="tenantid != null">
        tenantId,
      </if>
      <if test="tenantname != null">
        tenantName,
      </if>
      <if test="descinfo != null">
        descInfo,
      </if>
      <if test="startdate != null">
        startDate,
      </if>
      <if test="enddate != null">
        endDate,
      </if>
      <if test="checkopion != null">
        checkOpion,
      </if>
      <if test="checkerid != null">
        checkerId,
      </if>
      <if test="checkername != null">
        checkerName,
      </if>
      <if test="checkdate != null">
        checkDate,
      </if>
      <if test="ishistory != null">
        isHistory,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="roomid != null">
        #{roomid,jdbcType=BIGINT},
      </if>
      <if test="roomname != null">
        #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null">
        #{tenantid,jdbcType=BIGINT},
      </if>
      <if test="tenantname != null">
        #{tenantname,jdbcType=VARCHAR},
      </if>
      <if test="descinfo != null">
        #{descinfo,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null">
        #{enddate,jdbcType=DATE},
      </if>
      <if test="checkopion != null">
        #{checkopion,jdbcType=VARCHAR},
      </if>
      <if test="checkerid != null">
        #{checkerid,jdbcType=BIGINT},
      </if>
      <if test="checkername != null">
        #{checkername,jdbcType=VARCHAR},
      </if>
      <if test="checkdate != null">
        #{checkdate,jdbcType=DATE},
      </if>
      <if test="ishistory != null">
        #{ishistory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yunzhu.house.model.RoomTenantExample" resultType="java.lang.Long">
    select count(*) from room_tenant
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update room_tenant
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.roomid != null">
        roomId = #{row.roomid,jdbcType=BIGINT},
      </if>
      <if test="row.roomname != null">
        roomName = #{row.roomname,jdbcType=VARCHAR},
      </if>
      <if test="row.tenantid != null">
        tenantId = #{row.tenantid,jdbcType=BIGINT},
      </if>
      <if test="row.tenantname != null">
        tenantName = #{row.tenantname,jdbcType=VARCHAR},
      </if>
      <if test="row.descinfo != null">
        descInfo = #{row.descinfo,jdbcType=VARCHAR},
      </if>
      <if test="row.startdate != null">
        startDate = #{row.startdate,jdbcType=DATE},
      </if>
      <if test="row.enddate != null">
        endDate = #{row.enddate,jdbcType=DATE},
      </if>
      <if test="row.checkopion != null">
        checkOpion = #{row.checkopion,jdbcType=VARCHAR},
      </if>
      <if test="row.checkerid != null">
        checkerId = #{row.checkerid,jdbcType=BIGINT},
      </if>
      <if test="row.checkername != null">
        checkerName = #{row.checkername,jdbcType=VARCHAR},
      </if>
      <if test="row.checkdate != null">
        checkDate = #{row.checkdate,jdbcType=DATE},
      </if>
      <if test="row.ishistory != null">
        isHistory = #{row.ishistory,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update room_tenant
    set id = #{row.id,jdbcType=BIGINT},
      roomId = #{row.roomid,jdbcType=BIGINT},
      roomName = #{row.roomname,jdbcType=VARCHAR},
      tenantId = #{row.tenantid,jdbcType=BIGINT},
      tenantName = #{row.tenantname,jdbcType=VARCHAR},
      descInfo = #{row.descinfo,jdbcType=VARCHAR},
      startDate = #{row.startdate,jdbcType=DATE},
      endDate = #{row.enddate,jdbcType=DATE},
      checkOpion = #{row.checkopion,jdbcType=VARCHAR},
      checkerId = #{row.checkerid,jdbcType=BIGINT},
      checkerName = #{row.checkername,jdbcType=VARCHAR},
      checkDate = #{row.checkdate,jdbcType=DATE},
      isHistory = #{row.ishistory,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yunzhu.house.model.RoomTenant">
    update room_tenant
    <set>
      <if test="roomid != null">
        roomId = #{roomid,jdbcType=BIGINT},
      </if>
      <if test="roomname != null">
        roomName = #{roomname,jdbcType=VARCHAR},
      </if>
      <if test="tenantid != null">
        tenantId = #{tenantid,jdbcType=BIGINT},
      </if>
      <if test="tenantname != null">
        tenantName = #{tenantname,jdbcType=VARCHAR},
      </if>
      <if test="descinfo != null">
        descInfo = #{descinfo,jdbcType=VARCHAR},
      </if>
      <if test="startdate != null">
        startDate = #{startdate,jdbcType=DATE},
      </if>
      <if test="enddate != null">
        endDate = #{enddate,jdbcType=DATE},
      </if>
      <if test="checkopion != null">
        checkOpion = #{checkopion,jdbcType=VARCHAR},
      </if>
      <if test="checkerid != null">
        checkerId = #{checkerid,jdbcType=BIGINT},
      </if>
      <if test="checkername != null">
        checkerName = #{checkername,jdbcType=VARCHAR},
      </if>
      <if test="checkdate != null">
        checkDate = #{checkdate,jdbcType=DATE},
      </if>
      <if test="ishistory != null">
        isHistory = #{ishistory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yunzhu.house.model.RoomTenant">
    update room_tenant
    set roomId = #{roomid,jdbcType=BIGINT},
      roomName = #{roomname,jdbcType=VARCHAR},
      tenantId = #{tenantid,jdbcType=BIGINT},
      tenantName = #{tenantname,jdbcType=VARCHAR},
      descInfo = #{descinfo,jdbcType=VARCHAR},
      startDate = #{startdate,jdbcType=DATE},
      endDate = #{enddate,jdbcType=DATE},
      checkOpion = #{checkopion,jdbcType=VARCHAR},
      checkerId = #{checkerid,jdbcType=BIGINT},
      checkerName = #{checkername,jdbcType=VARCHAR},
      checkDate = #{checkdate,jdbcType=DATE},
      isHistory = #{ishistory,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>