<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.RoomTenantMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.RoomTenant">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roomid" column="roomId" jdbcType="BIGINT"/>
            <result property="roomname" column="roomName" jdbcType="VARCHAR"/>
            <result property="tenantid" column="tenantId" jdbcType="BIGINT"/>
            <result property="tenantname" column="tenantName" jdbcType="VARCHAR"/>
            <result property="descinfo" column="descInfo" jdbcType="VARCHAR"/>
            <result property="startdate" column="startDate" jdbcType="DATE"/>
            <result property="enddate" column="endDate" jdbcType="DATE"/>
            <result property="checkopion" column="checkOpion" jdbcType="VARCHAR"/>
            <result property="checkerid" column="checkerId" jdbcType="BIGINT"/>
            <result property="checkername" column="checkerName" jdbcType="VARCHAR"/>
            <result property="checkdate" column="checkDate" jdbcType="DATE"/>
            <result property="ishistory" column="isHistory" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,roomId,roomName,
        tenantId,tenantName,descInfo,
        startDate,endDate,checkOpion,
        checkerId,checkerName,checkDate,
        isHistory
    </sql>
</mapper>
