<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.Room">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roomname" column="roomName" jdbcType="VARCHAR"/>
            <result property="roomarea" column="roomArea" jdbcType="VARCHAR"/>
            <result property="roomdesc" column="roomDesc" jdbcType="VARCHAR"/>
            <result property="roomtwodimensionalcode" column="roomTwoDimensionalCode" jdbcType="VARCHAR"/>
            <result property="roomimage" column="roomImage" jdbcType="VARCHAR"/>
            <result property="houseid" column="houseId" jdbcType="BIGINT"/>
            <result property="housename" column="houseName" jdbcType="VARCHAR"/>
            <result property="checkopion" column="checkOpion" jdbcType="VARCHAR"/>
            <result property="checkerid" column="checkerId" jdbcType="BIGINT"/>
            <result property="checkername" column="checkerName" jdbcType="VARCHAR"/>
            <result property="checkdate" column="checkDate" jdbcType="DATE"/>
            <result property="registdate" column="registDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,roomName,roomArea,
        roomDesc,roomTwoDimensionalCode,roomImage,
        houseId,houseName,checkOpion,
        checkerId,checkerName,checkDate,
        registDate
    </sql>
</mapper>
