<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunzhu.house.mapper.TenantMapper">

    <resultMap id="BaseResultMap" type="com.yunzhu.house.model.Tenant">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="tenantname" column="tenantName" jdbcType="VARCHAR"/>
            <result property="tenantidentify" column="tenantIdentify" jdbcType="VARCHAR"/>
            <result property="tenanttel" column="tenantTel" jdbcType="VARCHAR"/>
            <result property="tenantfromshen" column="tenantFromShen" jdbcType="VARCHAR"/>
            <result property="tenantfromshi" column="tenantFromShi" jdbcType="VARCHAR"/>
            <result property="tenantfromxian" column="tenantFromXian" jdbcType="VARCHAR"/>
            <result property="tenantworkorganization" column="tenantWorkOrganization" jdbcType="VARCHAR"/>
            <result property="tenantdesc" column="tenantDesc" jdbcType="VARCHAR"/>
            <result property="tenantimage" column="tenantImage" jdbcType="VARCHAR"/>
            <result property="checkopion" column="checkOpion" jdbcType="VARCHAR"/>
            <result property="checkerid" column="checkerId" jdbcType="BIGINT"/>
            <result property="checkername" column="checkerName" jdbcType="VARCHAR"/>
            <result property="checkdate" column="checkDate" jdbcType="DATE"/>
            <result property="tenantcode" column="tenantCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,tenantName,tenantIdentify,
        tenantTel,tenantFromShen,tenantFromShi,
        tenantFromXian,tenantWorkOrganization,tenantDesc,
        tenantImage,checkOpion,checkerId,
        checkerName,checkDate,tenantCode
    </sql>
</mapper>
